unbind r
bind r source-file ~/.tmux.conf \; display "Reloaded ~/.tmux.conf"

set -g prefix C-a
unbind-key C-b
bind-key C-a send-prefix

# Shift arrow to switch windows
bind -n S-Left  previous-window
bind -n S-Right next-window

# new window in same path
bind c new-window -c "#{pane_current_path}"

# turn on mouse
set -g mouse on

# Start windows and panes at 1, not 0
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

# Set status line on the top
set-option -g status-position top

# Customize status line
set-option -g status-right " [ #[fg=#fabd2f,bg=#282828]#S#[default] ] "
set-option -g status-left  ""
set-option -g window-status-current-format "#[fg=#282828,bg=#fabd2f] #I: #W #[default]"
set-option -g window-status-format "#[fg=#ebdbb2,bg=#3c3836] #I: #W #[default]"

# Set the status bar background and default text color
set-option -g status-bg '#282828'  # Dark gray background (matches Gruvbox Dark)
set-option -g status-fg '#ebdbb2'  # Light gray text for readability

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/tmux/plugins/tpm/tpm'
